


<div class="header-sign-up-form">
    <div class="sign-up-title">
        <h1>Connexion</h1>
    </div>
</div>
    <form [formGroup]="signInForm" autocomplete="off" (ngSubmit)="signIn()">
      <mat-form-field appearance="fill">
        <mat-label>Pseudo</mat-label>
        <input matInput formControlName="pseudo">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
      <div class="connexion-button">
        <button type="submit" class="mat-raised-button">Connexion</button>
      </div>
</form>
