.element-filter-content {
   // height: 100%;
   margin-bottom: 10px;
      

    .filter-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        h2 {
            font-size: 20px;
            color: #FFFFFF;
        }

        .mat-icon {
          color: #C2C3C5;
          cursor: pointer;
        }
    }

    .displayElementFilter {
       display: block;
       visibility: visible;
       transition: all 300ms, opacity 0.5s linear;
    }

    .hideElementFilter {
       display: none;
       visibility: hidden;
       transition: all 300ms, opacity 0.5s linear;
    }
}
