<div class="element-filter-content">
    <div class="filter-title"
    
                   >
        <h2>Elements</h2>
        <mat-icon [@rotatedState]='arrowState' (click)="rotateArrow()" 
                   >arrow_circle_down
        </mat-icon>
    </div>
    <div class="element-filter-form" [ngClass]="arrowState === 'arrow-down' ? 'displayElementFilter' : 'hideElementFilter'">
        <form [formGroup]="elementFilterForm">
            <div formArrayName="elements">
                <div [formGroupName]="i" class="checkbox-label {{elementsList[i].name}}-filter" *ngFor="let ea of elementsArray?.controls; let i = index">
                    <mat-checkbox class="example-margin"  formControlName="checked">{{elementsList[i].name | firstLetterUppercase}}</mat-checkbox>
                </div>
            </div>
        </form>
    </div>
</div>