.toolbar-custom .mat-toolbar-row, .mat-toolbar-single-row {
  @apply pl-6px;
}

.sidenav-container {
   //height: 93%;
   // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
/*  .example-icon {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
  }*/
  
  .sidenav-custom {
  //  height: 91vh;
  //  min-width: 200px;
  //  border-right: 1px solid #ccc;
    //background-color: #673ab7;
  }
  
  .side-menu-content img {
   /* margin-bottom: 6px;
    margin-right: 7px;*/
  }
  
 /* .side-menu-container p {
    margin: 0px;
    color: white;
  }*/
  
 /* .sidenav-content {
    display: initial;
  }*/

.current-link {
   @apply text-white-content;
}

 .current-link.active {
   @apply text-router-active;
}

.round-button {
  @apply rounded-full ml-5
}

.header-group-button {
  @apply w-full flex justify-between;
}