.sidenav-container {
   //height: 93%;
   // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
/*  .example-icon {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
  }*/
  
  .sidenav-custom {
  //  height: 91vh;
  //  min-width: 200px;
  //  border-right: 1px solid #ccc;
    //background-color: #673ab7;
  }
  
  .side-menu-content img {
   /* margin-bottom: 6px;
    margin-right: 7px;*/
  }
  
 /* .side-menu-container p {
    margin: 0px;
    color: white;
  }*/
  
 /* .sidenav-content {
    display: initial;
  }*/
  