<!--<div class="" [formGroup]="multiFilterForm">
    
</div>-->
<div class="filter-content">
    <div class="filtres-title">
        <h2>Filtres</h2>
    </div>
    {{paddingState}}
    <div class="filters custom-scrollbar" #scroll>
        <app-elements-filter 
        
    (elementCheckboxState)="elementCheckboxState($event)"
    >
    </app-elements-filter>
    
    <app-stars-filter (starsCheckboxState)="starsCheckboxState($event)">

    </app-stars-filter>

    <app-weapon-filter (emitweapons)="emitweapons($event)">
        
    </app-weapon-filter>

    <app-location-filter (emitCities)="emitCities($event)">

    </app-location-filter>
    </div>

</div>
