.add-character-form-container {
 //   @apply flex justify-center items-center;
}

.add-character-form-content  {
  //  @apply flex-1;
  height: 778px;
  overflow-x: scroll;
    form {
        @apply flex flex-col max-w-500 p-3 border border-2 rounded-card bg-blue-content m-auto;
        
        .groupName {
            @apply flex flex-col;
        }
    }    
}

.character-picture-header {
    @apply w-120 h-120 border-solid border border-2 rounded-full m-auto;
}

.upload-picture-edit {
    @apply hidden;
}

.create-character-button {
   @apply m-auto;

    button {
        @apply w-62.5 rounded-full;
    }
}

.custom-button {
    @apply bg-color-button text-white;
}

.file-input-custom {
  
::file-selector-button { font-size: initial; }

    .upload-picture {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 0px;
        box-shadow: 
        0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        vertical-align: bottom;
        background-image: url("../../assets/imgs/logo/picture-logo.png");
    }

    input[type="file"]::file-selector-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 0px;
        box-shadow: 
        0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        opacity: 0;
      }

     label {
        position: absolute;
        top: 0;
        img {
            cursor: pointer;
        }
      }
  //  @apply m-auto;
}


.image-upload>input {
    display: none;
  }

  input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
  }



