<div class="add-character-form-container" *ngIf="authResult">
    <div class="add-character-form-content custom-scroll-bar">

        <form [formGroup]="addCharacterForm" (ngSubmit)="createCharacter()" autocomplete="off" novalidate>
            <div class="character-picture-header">
                <img *ngIf="characterImage" [src]="characterImage" class="image">
            </div>
            <mat-form-field>
                <mat-label>Numéro</mat-label>
                <input matInput type="number" formControlName="num">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field class="file-input-custom">
                <mat-label>Image du personnage</mat-label>
                <label for="file-input" style="cursor:pointer" matSuffix>
                    <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png"/>

                </label>
                <input mat-mini-fab type="file" accept=".png, .jpg, .jpeg" #uploadCharacterPicture id="file-input"
                    (change)="uploadPicture($event,  'characters')" class="upload-picture"
                    src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png"
                    matSuffix />

                <input matInput type="text" formControlName="picture">

            </mat-form-field>
     

            <mat-form-field>
                <mat-label>Text alternatif du personnage</mat-label>
                <input matInput formControlName="alt">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Localisation</mat-label>
                <mat-select formControlName="location">
                    <mat-option *ngFor="let ll of locationsList" [value]="ll">{{ll}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Rareté</mat-label>
                <mat-select formControlName="rarety">
                    <mat-option *ngFor="let rl of raretiesList" [value]="rl">{{rl}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Couleur</mat-label>
                <mat-select formControlName="color">
                    <mat-option *ngFor="let cl of colorsList" [value]="cl.color">{{cl.name}} - {{cl.color}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div formGroupName="weapon" class="groupName">
                <mat-form-field class="file-input-custom">
                    <mat-label>Logo arme</mat-label>
                    <label for="file-input" style="cursor:pointer" matSuffix>
                        <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png" />
                    </label>
                    <input mat-mini-fab type="file" accept=".png, .jpg, .jpeg" #uploadCharacterPicture id="file-input"
                        (change)="uploadPicture($event,  'weapons')" class="upload-picture"
                        matSuffix />
                    <input matInput formControlName="picture">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Text alternatif de l'arme</mat-label>
                    <input matInput formControlName="alt">
                </mat-form-field>
            </div>
             <!--assets/imgs/logo/picture-logo.png-->
            <div formGroupName="element" class="groupName">
                <mat-form-field class="file-input-custom">
                    <mat-label>Logo element</mat-label>
                    <label for="file-input" style="cursor:pointer" matSuffix>
                        <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png" />
                    </label>
                    <input mat-mini-fab type="file" accept=".png, .jpg, .jpeg" #uploadCharacterPicture id="file-input"
                        (change)="uploadPicture($event,  'elements')" class="upload-picture"
                        matSuffix />

                    <input matInput formControlName="picture">
                   
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Text alternatif de l'element</mat-label>
                    <input matInput formControlName="alt">
                </mat-form-field>
            </div>
            <div class="create-character-button">
                <button type="submit" mat-raised-button [ngClass]="addCharacterForm.valid ? 'custom-button' : ''"
                    [disabled]="!addCharacterForm.valid">Création</button>
            </div>
        </form>
    </div>
</div>