<div class="character-list-content" *ngIf="authResult">
   <h1>Liste des personnage</h1>
</div>


































   <!-- <div class="character">
        <div class="header-card">
            <div class="weapons-picture">
                <img [src]="character.weapon.picture" [alt]="character.weapon.alt">
            </div>
            <div class="character-picture">
                <img [src]="character.picture" [alt]="character.alt">
            </div>
            <div class="element-picture">
                <img [src]="character.element.picture" [alt]="character.element.alt">
            </div>
        </div>
    </div>-->

<!--<div class="character-list-content" >


    <mat-card class="character" *ngFor="let character of charactersList">
        <mat-card-header>
            <div class="card-header-content">
                <div class="weapons-picture">
                    <img [src]="character.weapon.picture" [alt]="character.weapon.alt">
                </div>
                <div class="character-picture">
                    <img [src]="character.picture" [alt]="character.alt">
                </div>
                <div class="element-picture">
                    <img [src]="character.element.picture" [alt]="character.element.alt">
                </div>
            </div>
            
        </mat-card-header>
      
        <mat-card-content>
            <div class="card-content">
                <div class="character-name">
                    <h1>{{character.name}}</h1> 
                 </div>
                 <div class="rarety">
                    <span>{{character.rarety}}</span>
                 </div>
                 <div class="location">
                    <h3>{{character.location}}</h3>
                 </div>
            </div>
        </mat-card-content>
      </mat-card>

</div>-->

.

