<div class="characters-list-content" *ngIf="authResult">
    <div class="character-filter-advenced">
        <app-characters-filter 
        [charactersList]="charactersList" 
        [charactersSearch]="charactersSearch"
        (characterFilterResult)="characterFilterResult($event)"
        ></app-characters-filter>
    </div>
    <div class="column-content-character">
     
        <div class="characters-card-container">
            <!--<h1>Liste des personnage</h1>-->
            <div class="search-characters-content">
                <div class="search-characters">
                    <app-search-characters (searchResult$)="searchResult($event)">
                    </app-search-characters>
                </div>
                
                <div class="characters-number">
                    <p>
                        Résultats:
                        {{ newCharactersList.length}}/
                        {{ charactersList.length }}
                    </p>
                </div>
            </div>

          
            <div class="characters-card-content custom-scrollbar">
                <mat-card class="character" *ngFor="let character of newCharactersList"
                   
                    [ngStyle]="{'box-shadow': '0 4px 0px 0px' + character.color}">
                    <div [ngClass]="{'transparent-filter': character._id === characterId}"
                    *ngIf="character._id === characterId">
                        <div class="question-delete">
                            <p>Voulez-vous vraiment supprimé {{ character.name }}?</p>
                        </div>
                        <div class="group-button-choice">
                            <button mat-raised-button class="accept" (click)="accept()">Oui</button>
                            <button mat-raised-button class="refuse" (click)="refuse()">Non</button>
                        </div>
                    </div>
                    <mat-card-header>
                        <div class="card-header-content">
                            <div class="weapons-picture">
                                <img [src]="character.weaponPicture.url" [alt]="character.weaponPicture.alt">
                            </div>
                            <div class="character-picture" [ngClass]="{'picture-custom': character._id === characterId}"  (click)="characterSelected(character)">
                                <img [src]="character.characterPicture.url" [alt]="character.characterPicture.alt">
                            </div>
                            <div class="element-picture">
                                <img [src]="character.elementPicture.url" [alt]="character.elementPicture.alt">
                                <mat-icon (click)="updateCharacters(character)" class="update-icon">edit</mat-icon>
                                <mat-icon (click)="deleteCharacter(character)" class="delete-icon">delete</mat-icon>
                            </div>

                            
                        </div>

                    </mat-card-header>

                    <mat-card-content>
                        <div class="card-content">
                            <div class="character-name">
                                <h1 [ngStyle]="{'color': character.color}">{{character.name}}</h1>
                            </div>
                            <div class="rarety">
                                <span>{{character.rarety}}</span>
                            </div>
                            <div class="location">
                                <h3>{{character.location}}</h3>
                            </div>
                        </div>
                    </mat-card-content>
                   
                </mat-card>
               
            </div>
        </div>
    </div>
</div>

