.search-characters {
    width: 100%;
}

.characters-list-content {
    height: 100%;
    display: flex;
    background-color: #51555A;
}

.column-content-character {
    flex: 1;
}

.characters-card-container {
    height: 100%
}

.characters-card-content {
  @apply flex flex-wrap xs:justify-center sm:justify-start;
  height: 100%;
  overflow: auto;
  padding-bottom: 70px;
}

.character {
    @apply flex-1 max-w-250 max-h-250 rounded-card bg-dark-content m-10 /*drop-shadow-purple*/;
}

.card-header-content {
    @apply flex justify-between w-full;
}

.character-picture img {
    @apply m-auto;
    height: 120px;
    width: 120px;
}

.card-content {
    @apply text-center;
}

.character-name h1 {
    @apply text-2xl;
}

.rarety {
    @apply text-3xl; 
}

.rarety span {
   @apply text-3xl text-rarety-color;
}

.location h3 {
    @apply text-base text-white;
}