.add-character-form-container {
    @apply 
    h-full 
    flex 
    justify-center 
    items-center 
    bg-black-400 
    overflow-auto;
    
    .add-character-form-content {
        @apply 
        rounded-7.5 
        bg-dark-content 
        w-250 
        shadow-light-gray-bottom;
    }
}

.tittle-form {
    @apply text-center;
    h2 {
        @apply text-gray-100 mb-5 mt-2.5 text-8;
    }
}

.character-picture-header {
    @apply 
    w-30 
    h-30 
    border-solid 
    border-2 
    border-gray-100 
    rounded-full 
    m-auto;
}

.add-character-form {

    .numero-form-field {
        @apply flex justify-center mb-5;
     }
    
    mat-form-field {
        @apply min-w-87.5;
    }

    mat-form-field:nth-child(1) {
        @apply mr-6.2;
    }

    mat-form-field:nth-child(4) {
        @apply mr-6.2;
    }

    mat-form-field:nth-child(6) {
        @apply mr-6.2;
    }
    
    .body-character-form {
        @apply text-center;  
    }
}

.create-character-button {
    @apply flex justify-center;
     button {
         @apply 
         w-62.5 
         rounded-full 
         text-white 
         mb-2.5 
         border-solid 
         border-2 
         border-gray-100;
     }
 }

.custom-button {
    @apply bg-color-button text-white border-none #{!important};
}



/*.file-input-custom {
  
    ::file-selector-button { font-size: initial; }
    
        .upload-picture {
            @apply h-10 
            w-10 
            rounded-circle 
            border-0 
            shadow-default 
            align-bottom 
            bg-download-picture;
        }
    
        input[type="file"]::file-selector-button {
            @apply h-10 
            w-10 
            rounded-circle 
            border-0 
            shadow-default 
            align-bottom 
            bg-download-picture 
            opacity-0;
          }
    
         label {
           @apply absolute top-0;
            img {
                @apply cursor-pointer;
            }
          }

          input[type=file]::-webkit-file-upload-button { 
            @apply cursor-pointer;
         }
}*/