.filter-title {
  @apply flex justify-between mb-2.5;

h2 {
    @apply text-white text-5;
}

    mat-icon {
        @apply text-gray-100 cursor-pointer;
    }
}

.weapons-list {
    @apply flex mb-2.5;
    /*margin-bottom: 10px;
    display: flex;*/
    img {
        @apply h-5 mr-0.752 opacity-60 cursor-pointer;
        /*height: 20px;
        margin-right: 3px;
        opacity: 0.6;
        cursor: pointer;*/
    }

    p {
       @apply text-white opacity-60 cursor-pointer;
      /* color: #FFFFFF;
       opacity: 0.6;
       cursor: pointer;*/
    }
}

.weapons-list:nth-child(2) {
    img {
        @apply h-6.252 #{!important};
        //height: 25px !important;
    }
}

.active {
    p, img {
        @apply opacity-100;
        //opacity: 1;
    }
}

.desactive {
    p, img {
        @apply opacity-60;
        //opacity: 0.6;
    }
}

.custom-weapons img, p {
    @apply opacity-100;
  // opacity: 1;
}

.displayWeaponFilter {
    @apply block visible transition-all duration-300;
    /*display: block;
    visibility: visible;*/
    transition: all 300ms, opacity 0.5s linear;
}

.hideWeaponFilter {
    @apply hidden invisible transition-all duration-300;
    /*display: none;
    visibility: hidden;*/
    transition: all 300ms, opacity 0.5s linear;
}