<!--<div class="weapons-filter-content">
    <div class="filter-title">
        <h2>Armes</h2>
        <mat-icon [@rotatedState]='arrowState' (click)="rotateArrow()">arrow_circle_down</mat-icon>
    </div>
    <div class="weapons-filter-form" [ngClass]="arrowState === 'arrow-down' ? 'displayWeaponFilter' : 'hideWeaponFilter'">
        <div class="weapons-list" 
             *ngFor="let weapons of weaponsList; let i = index" 
             (click)="weaponSelect(i, weapons.checked)"
             [ngClass]="weapons.checked ? 'active' : 'desactive'">
            <img [src]="weapons.logo" alt="weapons.name">
            <p>{{ weapons.name }}</p>
        </div>
    </div>
</div>-->
