<div class="cities-filter-content">
    <div class="filter-title">
        <h2>Régions</h2>
        <!--<mat-icon [@rotatedState]='arrowState' (click)="rotateArrow()">arrow_circle_down</mat-icon>-->
    </div>
    <!--<div class="cities-filter-form" [ngClass]="arrowState === 'arrow-down' ? 'displayLocationFilter' : 'hideLocationFilter'">
        <div class="cities-list" 
             *ngFor="let cities of citiesList; let i = index" 
             (click)="citySelected(i, cities.checked)"
             [ngClass]="cities.checked ? 'active' : 'desactive'">
            <img [src]="cities.logo" alt="cities.name">
            <p>{{ cities.name }}</p>
        </div>
    </div>-->
</div>
