<div class="account-container">
    <div class="account-content">
        <div class="header-account-form">
            <div class="switch-autthenticate">
                <div class="group-button">
                    <button class="mat-flat-button" (click)="signUp()" 
                        [ngStyle]="{'color': account.signUpForm ? '#00ACC1' : 'white' }">Inscription</button> 
                    <button class="mat-flat-button" (click)="signIn()"
                        [ngStyle]="{'color': account.signInForm ? '#00ACC1' : 'white' }">Connexion</button>
                </div>
            </div>
        </div>
        <div class="account-title">
            <h1>{{ account.title }}</h1>
        </div>
        <form [formGroup]="accountForm" autocomplete="off" (ngSubmit)="validateForm()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
          
            <mat-form-field appearance="fill" *ngIf="account.signUpForm">
                <mat-label>Pseudo</mat-label>
                <input matInput formControlName="pseudo">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="account.signUpForm">
                <mat-label>Confirmation du mot de passe</mat-label>
                <input matInput formControlName="confirmPassword" type="password">
            </mat-form-field>
            <div class="validation-button">
                <button type="submit" class="mat-raised-button" [ngClass]="[accountForm.valid ? 'validation-form' : '' ]" [disabled]="!accountForm.valid">{{ account.textButton }}</button>
            </div>
        </form>
    </div>
</div>